<h1 class="display-2 my-4 text-center">Dashboard</h1>
<div class="d-flex justify-content-center">
  <div class="card me-4" style="width: fit-content;">
    <div class="card-body d-flex align-items-center">
      <span class="card-title fs-2 my-0 me-3">Products: </span>
      <span class="card-subtitle fs-3 my-0 pe-3 me-3 border-end"><%= @product_count %></span>
      <%= link_to fa_icon('eye'), [:admin, :products], class: "text-success" %>
    </div>
  </div>

  <div class="card" style="width: fit-content">
    <div class="card-body d-flex align-items-center">
      <span class="card-title fs-2 my-0 me-3">Categories: </span>
      <span class="card-subtitle fs-3 my-0 pe-3 me-3 border-end text-muted"><%= @category_count %></span>
      <%= link_to fa_icon('eye'), [:admin, :products], class: "text-success" %>
    </div>
  </div>
</div>